body,
#canvas,
#canvas-container,
#overlayed-canvas,
#backdrop {
  margin: 0;
  padding: 0;
  background-color: rgb(26, 43, 51, 1);
  width: 100%;
  height: 100%;
  white-space: nowrap;
  box-sizing: border-box;
}

#canvas,
#canvas-container,
#overlayed-canvas,
#backdrop {
  background: transparent;
  position: fixed;
  overflow: hidden;
}

#canvas,
#canvas-container,
#overlayed-canvas {
  z-index: -1;
}

#backdrop {
  z-index: 0;
  background-color: rgba(44, 44, 46, 0.3);
  backdrop-filter: blur(4px);
}
